body{
    margin-left: 25px;
    font-family: "nyt-cheltenham",georgia,"times new roman",times,serif;
}
body h1{
    font-weight: bold;
    margin: 20px 0;
    font-size: 20px;
}
body  p {
    margin: 20px 0;
    font-size: 1.0625rem;
    line-height: 1.625rem;
    font-weight: 400;
    font-style: normal;
    font-family: georgia,"times new roman",times,serif;
    color: #222;
}
a {
    text-decoration: none;
    color: #000;
}
.caption {
    font-size: 12px;
    margin: 10px 4px;
    font-style: italic;
}
#sec-main-content {
    padding: 150px 60px 0 30px;
    border-left: 1px solid #eee;

}

/*  ***********nav css is here************* */

nav {
    height: 47px;
    position: fixed;
    width: 100%;
    background: #fff;
    font-size: 12px;
    font-weight: bold;
    z-index: 1;
     border-left: 1px solid #eee;
     border-bottom: 1px solid #eee;
     box-shadow: 0px 1px 1px #aaa;
}
nav ul, nav ul li, nav img {
    display: inline-block;
    vertical-align: middle;
}
nav ul {
     margin: 12px 0;
}
#sec-btn {
    border: 1px solid #aaa;
    border-radius: 2px;
    position: relative;
    left: -20px;
    font-size: 11px;
    font-weight: bold;
    background: #fff;
     padding: 8px 17px ;
}
a[href="#hs"]{
     padding: 8px 17px ;
}
a[href="#hs"]:hover {
     background: #eee;
}
a[href="#sl"]{
     background: #6288A5;
     border: 1px solid #4D7B9F;
     color: #fff;
     padding: 8px 8px;
     font-size: 10px;
     border-radius: 4px;
}
#logo-img {
    width: 189px;
    height: 24px;
    margin: 12px  180px  12px 250px;
}
nav #right-btns li:nth-child(3)  button {
    width: 18px;
    height: 20px;
    border: 0;
    background: url(img/sprite-no-repeat.svg);
    background-repeat: no-repeat;
    background-position: -86px -243px;
}
a[href="#st"] {
    padding: 5px;
}
nav #right-btns li {
    margin: 0 8px;
}

/* ************section top menu*************    */

#sec-top-menu {
    width: 100%;
    height: 82px;
    position: relative;
    top: 50px;
    overflow: hidden;
     border-left: 1px solid #eee;
     border-bottom: 1px solid #eee;
     box-shadow: 0px 1px 1px #aaa;
}
#sec-top-menu div {
    padding: 3px;
    border-right: 1px solid #eee;
    display: inline-block;
    width: 230px;
    height: 65px;
    float:  left;
    padding: 0  4px 0 3px;
    margin: 3px 0  5px 0;
}
#sec-top-menu div img {
    display: inline-block;
    float: left;
    vertical-align: bottom;
    height: 65px;
    width: 65px;
    margin: 4px;
}
#sec-top-menu div p {
    margin: 4px;
    font-size: 13px;
}
#sec-top-menu div h3 {
    margin: 4px;
    font-size: 11px;
}

/*  ***************main content************** */

#title-h2 {
    font-size: 12px;
    font-weight: bold;
}
#sec-main-content  #title-h1 {
    margin-top: 30px;
    font-size: 2.125rem;
    font-style: italic;
    margin-bottom: 22px;
}
#img-top-cap {
    width: 100%;
    height: 36px;
    padding: 7px;
    padding-top: 20px;
}
#img-top-cap  span{
    margin-right: 12px;
    font-size: 13px;
    float: left;
}
#img-top-cap ul {
    width: 300px;
    float: right;
}
#img-top-cap ul li {
    display: inline-block;
    margin: 0 12px;
}
#img-main {
    width: 1080px;
    height: 607px;
    margin-bottom: 17px;
}
#sec-main-content  figure figcaption {
    width: 620px;
    margin: 0  0  20px  5px;
    font-size: 14px;
    color: #666;
}
.p-section1 {
    width: 530px;
    margin: 40px 10px 15px 60px;
    display: inline-block;
}
.p-section1  h2 {
    font-weight: 700;
}
#p-section-side {
    display: inline-block;
    width: 380px;
    height: 400px;
    float: right;
    margin-top: 120px;
}

/* inflation sec start here */

#inflation-sec {
    margin-right: 110px;
}
#inflation-sec  p{
    margin-bottom: 10px;
}
#inflation-sec #img-sec {
    width: 945;
    height: 576;
    background: url(img/inflation-945.png);
    background-size: cover;

    font-family: nyt-franklin,arial,helvetica,sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    color: #000000;
}
#inflation-sec #img-sec div {
    width: 226px;
    height: 120px;
    float: left;
    position: relative;
    font-size: 13px;
    padding: 5px;
}
#inflation-sec #img-sec .top {
    top: 140px;
}
#inflation-sec #img-sec .bott {
    top: 295px;
}
#inflation-sec #inflation-author {
    margin: 10px 0;
    margin-bottom: 20px;
    font-size: 12px;
    color: #999;
}

/* end of inflation section - continue <p> section */

 #video-frame {
     width: 600px;
     height: 315px;
     background: #eee;
     margin-left: -30px;
 }

 #robot {
     width: 342px;
     height: 342px;
     float: left;
 }
 #img-sat {
     width: 600px;
     height: 400px;
     margin-left: -30px;
 }
 #end-hr {
     background-color: : #000;
     width: 60px;
     float: left;
}
#cap-end{
    clear: both;
}
/* end of content section */


/* related links bottom */
#sec-bottom-link {
    padding: 20px 60px 20px 20px;
    overflow: hidden;
    border-top: 0;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
#left-articles {
    display: inline-block;
    width: 680px;
    height: 476px;
    float: left;
    border-top: 1px solid #888;
    padding: 16px 0 6px 6px; 
}
#sec-bottom-link  #left-articles  div {
    width: 206px;
    height: 201px;
    display: inline-block;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    height: auto;
    color: blue;
}
#sec-bottom-link  #left-articles  div p {
    font-size: 14px;
    font-style: bold;
}
#sec-bottom-link    div h1{
    font-style: bold;
    margin: -2px 0 12px 0;
    font-size: 17px;
}

/* right article */
ol {
    list-style-type: decimal; 
}
#right-articles {
    display: inline-block;
    width: 360px;
    height: 476px;
    float: right;
    border-top: 1px solid #888;
}
#right-articles ol {
    margin-left: 10px;
    font-size: 14px;
}
#right-articles ol li {
    width: 340px;
    height: 40px;
    padding: 6px 0;
    padding-left: 10px;
    border-bottom: 1px solid #ccc;
}
#right-articles ol li a{
    display: inline-block;
    width:283px;
    height: 39px;
    vertical-align: middle;
    margin-top: 5px;
    color: #326891;
}
#right-articles ol li img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    float: right;
}
#right-articles > p {
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px ;
}
#related-link {
  width: 680px;
  height: 233px;
  clear: both;
  position: relative;
  top: 40px;
  border-top: 1px solid #ccc;
  margin-bottom: 160px;
}
#related-link #header {
    width: 100%;
    height: 20px;
    margin: 0 0 9px 0;
    padding-top: 6px;
}
#related-link #header p {
    display: inline;
    font-weight: bold;
    font-size: 16px;
}
#related-link #header p:nth-child(2) {
    float: right;
    margin: 0;
    color: #326891;
    font-size: 13px;
}
#related-link #content-rel-link {
    width: 210px;
    height: 183px;
    font-size: 15px;
    float: left;
    margin: 8px;
}
#related-link #content-rel-link img {
    width: 100%;
    height: 140px;
    margin-bottom: 5px;
}

/* footer start here */

footer {
    width: 90%;
    margin-left: 60px;
    border-top: 1px double #ccc;
} 
footer #foot-header {
    width: 100%;
    height: 20px;
    margin-bottom: 30px;
    margin-top: 10px;
}
footer #foot-header a {
    float: right;
    font-size: 14px;
    margin-right: 100px;
}
footer ul {
    margin-right: 60px;
    float: left;
    font-size: 14px;
    overflow: hidden;
}
footer ul  li{
    margin: 11px 0;
}
footer ul p {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}
footer #copy-right {
clear: both;
border-top: 1px solid #aaa;
height: 30px;
}
footer #copy-right ul li{
    display: inline-block;
    font-size: 11px;
    color: #777;
    border-right: 1px solid #aaa;
    padding-right: 4px;
}
footer #copy-right ul li:last-child{
    border: 0;
}
footer #copy-right ul:last-child{
    margin-right: 0;
    float: right;
}